# required: Replace with your app's public URL in production
PUBLIC_APP_URL=http://localhost:3000

# optional: Replace with your own managed Redis URL in production (when using Docker Compose, the default is fine)
REDIS_URL=redis://redis:6379

# optional: Replace with your desired port number (it will use 3000 by default)
PORT=3000

# optional: MaxMind license key for geolocation analytics (sign up for free GeoLite services at https://www.maxmind.com/en/geolite2/signup)
MAXMIND_LICENSE_KEY=

# optional: Number of days to retain analytics data (rolling window)
ANALYTICS_RETENTION_DAYS=14