* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-display: swap;
    font-family: 'Signika';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/signika-v20-latin-500.woff2') format('woff2'), url('../fonts/signika-v20-latin-500.woff') format('woff');
}

:root {
    font-family: 'Signika', sans-serif;
    /* line-height: 1.5; */
    background-color: var(--clr-background);
    color-scheme: dark light;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    --clr-background: #13111c;

    --clr-input: #ffffff09;
    --clr-input-hover: #ffffff15;
    --clr-input-border: #ffffff71;

    --clr-gradient-1: #20004b61;
    --clr-gradient-2: #d1157040;

    --clr-blob-1: #6200ea;
    --clr-blob-2: #ec407a;
    --clr-blob-3: #fdd835;

    --clr-selection-text: #2f004d;
    --clr-selection-background: #b57dff;
}

::-moz-selection {
    color: var(--clr-selection-text);
    background: var(--clr-selection-background);
}

::selection {
    color: var(--clr-selection-text);
    background: var(--clr-selection-background);
}

img,
svg {
    display: block;
}

input,
button {
    font: inherit;
    all: unset;
}

body {
    height: 100vh;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    gap: 1rem;
}

.background {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background: linear-gradient(200deg, #cc00bb40 0%, transparent 40%), linear-gradient(200deg, transparent 60%, rgba(0, 70, 209, 0.25) 100%);
}
.blob {
    position: absolute;
    transition: scale 350ms ease;
}
.blob.top {
    transform-origin: left top;
    top: 0;
    left: 0;
    translate: -75% -75%;
    animation: blobTop 750ms ease forwards 200ms;
}
.blob.bottom {
    transform-origin: right bottom;
    bottom: 0;
    right: 0;
    translate: 75% 75%;
    animation: blobBottom 750ms ease forwards 200ms;
}
@media screen and (max-width: 700px) {
    .blob.top {
        scale: 0.8;
    }
    .blob.bottom {
        scale: 0.8;
    }
}
@keyframes blobTop {
    to {
        translate: 0 0;
    }
}
@keyframes blobBottom {
    to {
        translate: 0 0;
    }
}

h1 {
    font-size: clamp(5rem, 15vw + 1rem, 8rem);
}
h2 {
    font-size: clamp(1.5rem, 4vw + 1rem, 3rem);
}
a {
    font-size: 1.25rem;
}
