* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-display: swap;
    font-family: "Signika";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/signika-v20-latin-500.woff2") format("woff2"), url("../fonts/signika-v20-latin-500.woff") format("woff");
}

:root {
    font-family: "Signika", sans-serif;

    line-height: 1.5;
    color-scheme: dark light;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    --clr-light-background: #faf4e8;
    --clr-dark-background: #13111c;

    --clr-light-text: #555553;
    --clr-dark-text: rgba(255, 255, 255, 0.8);

    --clr-light-input: #faf4e8;
    --clr-dark-input: #ffffff09;
    --clr-light-input-hover: #eae3d4;
    --clr-dark-input-hover: #ffffff15;
    --clr-light-input-border: #acabab;
    --clr-dark-input-border: #ffffff71;

    --clr-gradient-1: hsla(305, 100%, 40%, 0.05);
    --clr-gradient-2: hsla(220, 100%, 41%, 0.05);

    --clr-header-gradient-1: hsla(265, 100%, 46%, 0.85);
    --clr-header-gradient-2: hsla(340, 82%, 59%, 0.85);
    --clr-header-gradient-3: hsla(49, 98%, 60%, 0.85);
    --clr-blob-1: #6617d4;
    --clr-blob-2: #d75681;
    --clr-blob-3: #e9cb49;

    --clr-selection-text: #2f004d;
    --clr-selection-background: #b57dffc6;
}

::-moz-selection {
    color: var(--clr-selection-text);
    background: var(--clr-selection-background);
}

::selection {
    color: var(--clr-selection-text);
    background: var(--clr-selection-background);
}

img,
svg {
    display: block;
}

input,
button {
    font: inherit;
    all: unset;
}

body {
    height: 100vh;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    gap: 1rem;
}

.background {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background: linear-gradient(200deg, var(--clr-gradient-1) 0%, transparent 40%), linear-gradient(200deg, transparent 60%, var(--clr-gradient-2) 100%);
}
.blob {
    position: absolute;
    transition: scale 350ms ease;
}
.blob #color1 {
    fill: var(--clr-blob-1);
}
.blob #color2 {
    fill: var(--clr-blob-2);
}
.blob #color3 {
    fill: var(--clr-blob-3);
}
.blob.top {
    transform-origin: left top;
    top: 0;
    left: 0;
    translate: -75% -75%;
    animation: blobTop 750ms ease forwards 200ms;
}
.blob.bottom {
    transform-origin: right bottom;
    bottom: 0;
    right: 0;
    translate: 75% 75%;
    animation: blobBottom 750ms ease forwards 200ms;
}
@media screen and (max-width: 700px) {
    .blob.top {
        scale: 0.8;
    }
    .blob.bottom {
        scale: 0.8;
    }
}
@keyframes blobTop {
    to {
        translate: 0 0;
    }
}
@keyframes blobBottom {
    to {
        translate: 0 0;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

h1 {
    font-size: clamp(1.75rem, 6.5vw + 1rem, 4rem);
    letter-spacing: 1px;
}

.rainbow {
    background: linear-gradient(130deg, var(--clr-header-gradient-1) 0% 20%, var(--clr-header-gradient-2) 50%, var(--clr-header-gradient-3) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.input {
    display: flex;
    justify-content: center;
    height: 65px;
    width: min(100% - 2rem, 500px);
    transition: height 350ms ease;
}
.input input {
    border-radius: 25px 0 0 25px;
    padding: 0.75rem 1.25rem;
    border-right-width: 1px;
    transition: 150ms;
    width: 100%;
    font-size: 1.4rem;
    caret-color: var(--clr-selection-background);
}
@media screen and (max-width: 600px) {
    .input {
        height: 60px;
    }
}
.input input::placeholder {
    translate: 5px;
    font-size: 1.4rem;
    font-style: italic;
}
.input button {
    aspect-ratio: 1;
    border-radius: 0 25px 25px 0;
    padding-right: 0.15rem;
    border-left-width: 1px;
    cursor: pointer;
    transition: 150ms;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input button svg {
    transition: 150ms;
    height: 50%;
}
.input button:hover svg {
    scale: 1.05;
}

.dots > * {
    animation: load 750ms ease infinite;
    opacity: 0;
}
.dots #dot2 {
    animation-delay: 100ms;
}
.dots #dot3 {
    animation-delay: 200ms;
}
@keyframes load {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

footer {
    display: flex;
    gap: 0.4rem;
    justify-content: center;
}
.link {
    color: var(--clr-selection-background);
    text-decoration: underline;
    cursor: pointer;
}

.modal-wrapper {
    display: none;
    /* display: grid; */
    position: absolute;
    height: 100vh;
    width: 100vw;
    place-content: center;
    backdrop-filter: blur(32px) brightness(0.65);
    overflow: hidden;
    z-index: 1;
}
.example-code {
    margin-left: 1rem;
}
.modal {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 24px;
}
.modal header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 0.5rem;
}
.modal h2 {
    font-size: clamp(1rem, 4.5vw + 1rem, 3rem);
}
.close-modal {
    cursor: pointer;
    font-size: 1.5rem;
}
.endpoint {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.endpoint > * {
    font-size: clamp(0.45rem, 2.2vw + 0.1rem, 1rem);
}
.endpoint-name {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
.method {
    font-weight: bold;
    color: #3aa600;
}
.endpoint-content {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.endpoint-content div {
    display: flex;
    flex-direction: column;
}

/* LIGHT THEME */
@media (prefers-color-scheme: light) {
    html {
        background-color: var(--clr-light-background);
    }
    h1 {
        color: var(--clr-light-text);
    }
    .input input,
    .input button {
        color: var(--clr-light-text);
        border: 2px solid var(--clr-light-input-border);
        background-color: var(--clr-light-input);
    }
    .input input:hover {
        background-color: var(--clr-light-input-hover);
    }
    .input button:hover {
        background-color: var(--clr-light-input-hover);
    }
    .input button svg {
        filter: invert(21%) sepia(0%) saturate(398%) hue-rotate(136deg) brightness(98%) contrast(85%);
    }
}

/* DARK THEME */
@media (prefers-color-scheme: dark) {
    html {
        background-color: var(--clr-dark-background);
    }
    h1 {
        color: var(--clr-dark-text);
    }
    .input input,
    .input button {
        color: var(--clr-dark-text);
        border: 2px solid var(--clr-dark-input-border);
        background-color: var(--clr-dark-input);
    }
    .input input:hover {
        background-color: var(--clr-dark-input-hover);
    }
    .input button:hover {
        background-color: var(--clr-dark-input-hover);
    }
}
